<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DT191G_M1._1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div class="parent">
            <div class="div2">
                <header>
                    <nav id="header">
                        <div>
                           <img src=../images/logo.png id="logo">
                           <div id="datetime">Dagens datum är: @DateTime.Now.ToString("yyyy-MM-dd")</div>
                        </div>
                    </nav>
                </header>
            </div>
            <div class="div3">
            </div>
            <div class="div4">
                <ul id="sidenav">
                    <li class="navitem">
                        <a asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="navitem">
                        <a asp-area="" asp-page="/Privacy">Razor</a>
                    </li>
                    <li class="navitem">
                        <a asp-area="" asp-page="/Privacy">Om sidan</a>
                    </li>
                </ul>
            </div>
            <div class="div5">
                    <main role="main">
                        @RenderBody()
                    </main>
            </div>
            <div class="div6">
                <footer>
                        Av Lina Meander - Kontakta mig via e-post: lime1603@student.miun.se
                </footer>
            </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>