@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text">
    <h1 class="display-4">Välkommen!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean mollis consectetur pretium. Suspendisse in arcu
        nibh. Fusce malesuada molestie bibendum. Curabitur lobortis felis quis cursus bibendum. Duis mollis viverra eros
        eu laoreet. Nullam et vehicula nunc. Mauris enim neque, blandit nec tempus eu, accumsan vestibulum quam. Aenean
        sodales ultricies justo, ac consequat metus molestie non.

        Vestibulum sapien magna, tempus sed imperdiet fermentum, congue nec sem. Maecenas sed congue arcu. Ut at tellus
        eget urna sagittis maximus ut ac erat. Nullam at ullamcorper ligula. Aliquam blandit, lorem vel mollis sodales,
        ex enim condimentum diam, tempus fringilla odio est sed lorem. Cras nec vestibulum leo, vitae pretium mi.
        Quisque vel nisi id augue imperdiet tempor. Nulla fringilla sit amet lectus suscipit auctor. Phasellus ut diam
        quis quam consectetur finibus vel ac dui. Suspendisse potenti. Proin consequat nulla neque, ut ullamcorper felis
        porttitor nec. Phasellus sed sodales elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
        posuere cubilia curae; Nam aliquam pretium molestie.

        Donec ac enim tristique, faucibus orci vel, euismod nulla. Nunc vehicula ipsum tortor, a venenatis sapien rutrum
        non. Integer congue odio mollis odio placerat, varius tempus libero varius. Sed nec libero sed lacus pulvinar
        scelerisque. Phasellus semper blandit lectus, a dignissim orci pulvinar in. Nulla posuere nibh justo, at feugiat
        sapien luctus ut. Donec id eros tortor. Ut eget gravida nunc. Morbi turpis metus, consectetur et turpis ac,
        pharetra feugiat purus. Sed ultrices, leo faucibus interdum ullamcorper, dui leo imperdiet quam, id scelerisque
        nunc diam quis leo. Nam convallis sed massa eu vulputate. Donec sit amet risus orci.</p>
</div>
